
@{
    ViewBag.Title = "Completed";
}

<div class="container"></div>
<div class="row">
    <div class="col-md-12">

        <h2>Siparişiniz Tamamlandı</h2>
        <h6> Satın aldığınz ürünler en kısa zamanda kargoya  verilecektir.</h6>

    </div>
 </div>
 </div>






