
@{
    ViewBag.Title = "Hakkımızda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2 > DALAL </h2>


    <h5 style="color:goldenrod">Dalal, Al-Gharbani Vakfı'na bağlı bir Yemen e-ticaret markasıdır. Ticari kayıt numarası: 4044630310 - aksesuar ve bakım ürünleri satışı - Sana'a </h5>

    <hr/>

  <strong> Vizyon</strong>
    <pre>Mücevher ve pırlanta satışı, üretimi ve tasarımı sektöründe örnek ve ilk tercih olmak.</pre>

<strong> Mesaj</strong>
    <pre >
- Altın ve pırlanta alanına katma değer katan yüksek kaliteli çalışmalar.

- En iyi özel tasarımların sergilenmesini sağlamak.

- Suudi Arabistan Krallığı'nda tüm farklı alanlarda yaşanan gelişmelere ayak uydurmak.

- Çalışma, geliştirme ve yönetimde seçkin ve profesyonel bir çalışma ekibine ve personele sahip olmak.
</pre>



   <strong>Değer</strong>
    <pre>
- Düzgün, entegre ve şeffaf çalışın.

- Kalite ve güven her müşteri için vazgeçilmez bir temel taşıdır.

- Daha iyi sonuçlar elde etmek için tüm modern teknolojilerin geliştirilmesine, yenilenmesine ve benimsenmesine bağlılık.
</pre>


</div>


