
@{
    ViewBag.Title = "Hakkımızda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2> DALAL </h2>


    <h5 style="color:goldenrod">Dalal, Al-Gharbani Vakfı'na bağlı bir Yemen e-ticaret markasıdır. Ticari kayıt numarası: 4044630310 - aksesuar ve bakım ürünleri satışı - Sana'a </h5>

    <hr />

    <strong> Vizyon</strong>
    <pre>Mücevher ve pırlanta satışı, üretimi ve tasarımı sektöründe örnek ve ilk tercih olmak.</pre>

    <strong> Mesaj</strong>
    <pre>
- Altın ve pırlanta alanına katma değer katan yüksek kaliteli çalışmalar.

- En iyi özel tasarımların sergilenmesini sağlamak.

- Suudi Arabistan Krallığı'nda tüm farklı alanlarda yaşanan gelişmelere ayak uydurmak.

- Çalışma, geliştirme ve yönetimde seçkin ve profesyonel bir çalışma ekibine ve personele sahip olmak.
</pre>



    <strong>Değer</strong>
    <pre>
- Düzgün, entegre ve şeffaf çalışın.

- Kalite ve güven her müşteri için vazgeçilmez bir temel taşıdır.

- Daha iyi sonuçlar elde etmek için tüm modern teknolojilerin geliştirilmesine, yenilenmesine ve benimsenmesine bağlılık.
</pre>


    <strong style="color:goldenrod">
        kullandığım fotoğraflar linki, Sayıları tıklayın link açılacak
    </strong>
    <hr />
    <pre>
    <a href="https://images.app.goo.gl/JqxgGoCtJY9wqQGp8" style="color:goldenrod"> 1  </a>https://images.app.goo.gl/JqxgGoCtJY9wqQGp8
    <a href="https://images.app.goo.gl/Wu1AiY9yqPwgYzWS6" style="color:goldenrod"> 2  </a>https://images.app.goo.gl/Wu1AiY9yqPwgYzWS6
    <a href="https://images.app.goo.gl/7jZ9xjxt8xggG4Gj8" style="color:goldenrod"> 3  </a>https://images.app.goo.gl/7jZ9xjxt8xggG4Gj8
    <a href="https://images.app.goo.gl/JXXFhkcLXGc2Bxgs8" style="color:goldenrod"> 4  </a>https://images.app.goo.gl/JXXFhkcLXGc2Bxgs8
    <a href="https://images.app.goo.gl/jnd8hXwWx4BjQ1mh6" style="color:goldenrod"> 5  </a>https://images.app.goo.gl/jnd8hXwWx4BjQ1mh6
    <a href="https://images.app.goo.gl/WrkR7soRwf8dfYsA9" style="color:goldenrod"> 6  </a>https://images.app.goo.gl/WrkR7soRwf8dfYsA9
    <a href="https://images.app.goo.gl/sihSVanucGCe2ktY7" style="color:goldenrod"> 7  </a>https://images.app.goo.gl/sihSVanucGCe2ktY7
    <a href="https://images.app.goo.gl/FzZrzo7CKDu4x9vx6" style="color:goldenrod"> 8  </a>https://images.app.goo.gl/FzZrzo7CKDu4x9vx6
    <a href="https://images.app.goo.gl/xt6QAy21hQamfKF39" style="color:goldenrod"> 9   </a>https://images.app.goo.gl/xt6QAy21hQamfKF39
    <a href="https://images.app.goo.gl/AbuZvnQB9FuBkj9g8" style="color:goldenrod"> 10  </a>https://images.app.goo.gl/AbuZvnQB9FuBkj9g8
    <a href="https://images.app.goo.gl/2fNvzWeZBqpBZXmX6" style="color:goldenrod"> 11  </a>https://images.app.goo.gl/2fNvzWeZBqpBZXmX6
    <a href="https://images.app.goo.gl/2BrTXLufjAJxrdm38" style="color:goldenrod"> 12 </a> https://images.app.goo.gl/2BrTXLufjAJxrdm38
    <a href="https://images.app.goo.gl/YspHy7mcJ6iKqNeq7" style="color:goldenrod"> 13  </a>https://images.app.goo.gl/YspHy7mcJ6iKqNeq7
    <a href="https://images.app.goo.gl/fav7juhATUakY7B68" style="color:goldenrod"> 14 </a> https://images.app.goo.gl/fav7juhATUakY7B68
    <a href="https://images.app.goo.gl/tdZewawemPqJ5TsD9" style="color:goldenrod"> 15 </a> https://images.app.goo.gl/tdZewawemPqJ5TsD9
    <a href="https://images.app.goo.gl/w52FQJWSAV64AZs27" style="color:goldenrod"> 16  </a>https://images.app.goo.gl/w52FQJWSAV64AZs27
    <a href="https://images.app.goo.gl/SRgWiLufr8dYprH78" style="color:goldenrod"> 17 </a> https://images.app.goo.gl/SRgWiLufr8dYprH78
    <a href="https://images.app.goo.gl/8pox5GF3wM522bwE7" style="color:goldenrod"> 18 </a> https://images.app.goo.gl/8pox5GF3wM522bwE7
    <a href="https://images.app.goo.gl/uEnCpk3mRDSEKytY7 https://images.app.goo.gl/LgwkYAhBqchwhg2G6" style="color:goldenrod"> 19 </a> https://images.app.goo.gl/uEnCpk3mRDSEKytY7 https://images.app.goo.gl/LgwkYAhBqchwhg2G6
    <a href="https://images.app.goo.gl/wca5YWiSq7V7wcvd8" style="color:goldenrod"> 20 </a> https://images.app.goo.gl/wca5YWiSq7V7wcvd8
    <a href="https://images.app.goo.gl/UmSSDHQQuEjc53sz9" style="color:goldenrod"> 21 </a> https://images.app.goo.gl/UmSSDHQQuEjc53sz9
    <a href="https://images.app.goo.gl/ZZ41C45i4wrccMX96" style="color:goldenrod"> 22 </a> https://images.app.goo.gl/ZZ41C45i4wrccMX96
    <a href="https://images.app.goo.gl/GPX8XrogREhdPLFN7" style="color:goldenrod"> 23 </a> https://images.app.goo.gl/GPX8XrogREhdPLFN7
</pre>

</div>


