@using MVC.AMANİ.SİTESİ.Models;
@model IEnumerable<ProductModel>
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <div class="container">
        <h1 class="display-3"> <span class="renk">Hoş geldiniz  Amani Mağazasına</span> </h1> 
        <p class="lead">
            <b> Amani Al-Gharbani Mağazasın bağlı bir Yemen e-ticaret markasıdır. Ticari Kayıt Numarası: 4044630310 - Aksesuar ve Bakım Ürünleri Satışı - Sana'a </b>
            .
        </p>
        <hr class="my-4">
        <p>Üyeliğinizi bize kaydedin ve sitedeki tüm ürünlerde %10 #indirim kazanın.</p>
        <p class="lead">
            <a class="btn btn-warning active btn-lg" href="/Home/Hakkımızda" role="button">Learn more</a>
        </p>
    </div>
</div>



<div class="container pb-5">

    @Html.Partial("_ProductList",Model)

</div>

       
 
   



